* {
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body,html{
    overflow-x: hidden;
}
body {
    background: rgb(0, 61, 173);
}
body::-webkit-scrollbar{
    background: transparent;
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background: rgb(0, 0, 61);
    border-radius: 50px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.navigation .logo img {
    width: 150px;
}

.item-flx {
    display: flex;
}

.item-flx a {
    text-decoration: none;
    color: white;
    padding-right: 20px;
}

.body-cnt .img-sec img {
    width: 100%;
    padding-bottom: -50px;
}

.body-cnt {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.body-cnt .text {
    max-width: 600px;
    padding-top: 20px;
    padding-left: 100px;
}

.body-cnt .text h1 {
    font-size: 30px;
    color: white;
}

.body-cnt .text p {
    font-size: 15px;
    color: rgb(201, 198, 198);
}

.body-cnt .text button {
    padding: 10px 30px;
    border-radius: 5px;
    background: rgb(63, 63, 255);
    border: none;
    outline: none;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .body-cnt {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .body-cnt .text {
        padding-left: 10px;
        padding-right: 10px;
    }

    .body-cnt .img-sec img {
        padding-top: 20px;
    }
}


.div {
    width: 400px;
    height: 60vh;
    margin-left: 200px;
}

.Number-Counter {
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
    color: rgb(221, 219, 219);
}

.Number-Counter .first-count,
.Number-Counter .sec-count {
    border-right: 1px solid white;
    padding-right: 50px;
}

.card {
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    position: relative;
}

.card .first-card {
    width: 300px;
    height: 450px;
    background: #1c2630c0;
    padding-bottom: 40px;
    border-radius: 10px;
}

.card .first-card img {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

.card .sec-card {
    width: 300px;
    height: 450px;
    background: #1c2630c0;
    padding-bottom: 40px;
    border-radius: 10px;
    transition: transform 5s;
}
.card .sec-card:hover,.card .first-card:hover, .card .third-card:hover{
    transform: scale(1.1);
}
.card .sec-card img {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

.card .third-card {
    border-radius: 10px;

    width: 300px;
    height: 450px;
    background: #1c2630c0;
    padding-bottom: 40px;
}

.card .third-card img {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

.card p {
    text-align: center;
    font-size: 13px;
    color: wheat;
    padding: 10px;
}

.card h3 {
    font-size: 13px;
    text-align: center;
    color: white;
}

.card button {
    margin-left: 80px;
    padding: 10px 30px;
    border-radius: 5px;
    background: rgb(63, 63, 255);
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}

.head h1 {
    text-align: center;
    padding-top: 100px;
    color: white;
}

.connect-stack {
    display: flex;
    margin: 100px 20px;
}

.image-stack {
    width: 330vw;
    height: 60vh;
    background: white;
    margin-left: 30px;
    border-radius: 10px;
}

.image-stack img {
    width: 100%;
    height: 60vh;
    padding: 5px;
}

.stack-text {
    padding-left: 100px;
    padding-right: 10px;
}

.stack-text h1 {
    color: white;
}

.stack-text p {
    color: whitesmoke;
}

.stack-text button {
    padding: 10px 40px;
    border-radius: 5px;
    background: rgb(63, 63, 255);
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    margin-top: 30px;
}

.about-us {
    text-align: center;
    padding: 120px 100px;

}

.about-us h1 {
    padding-bottom: 50px;
    color: white;
    font-size: 50px;
}

.about-us p {
    font-size: 15px;
    color: whitesmoke;
}

.about-us button {
    margin-top: 50px;
    padding: 10px 40px;
    border-radius: 5px;
    background: rgb(63, 63, 255);
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}

.menu-bar-icn{
    display: none;
}
@media screen and (max-width: 768px) {
    .items-flx {
        display: flex;
        flex-direction: column;
        padding: 50px;
    }
    
    .items-flx a {
        text-decoration: none;
        color: white;
        padding-top: 60px;
    }
    .menu-bar-icn{
    display: block;
    padding-top: 20px;
    }
    .menu-view{
        background: rgba(0, 17, 255, 0.774);
        width: 70%;
        height: 100vh;
        position: absolute;
        right: 0;
        position: fixed;
        backdrop-filter: blur(5px);
        z-index: 999;
        padding: 10px;
    }
    body{
        overflow-y: hidden;
    }
    .item-flx{
        display: none;
    }
    .Number-Counter{
        display: none;
    }
    .about-us h1{
        font-size: 40px;
    }
    .about-us p{
        font-size: 13px;
    }
    .connect-stack .image-stack img{
        height: 40vh;
    }
    .connect-stack h1{
        font-size: 25px;
        text-align: center;
        padding: 10px;
    }
    .connect-stack .image-stack{
        height: 40vh;
    }
    .div {
        margin-right: 190px;
    }

    .div .img {
        display: none;
    }

    .card .first-card {
        margin-bottom: 30px;
        position: relative;
    }

    .card .sec-card {
        margin-bottom: 30px;
    }

    .connect-stack {
        flex-direction: column;
    }

    .image-stack {
        width: 80vw;
        height: 50vh;
    }

    .image-stack img {
        height: 50vh;
    }

    .stack-text {
        padding-left: 20px;
    }
    footer .all-footer-flx{
        flex-direction: column;
    }
    footer .mid{
    background: #1c2630c0;
    height: 60vh;
    margin-top: 216px;
    }
    footer .right-sid{
        background: #1c2630c0;
        height: 60vh;
    }
    footer .all-footer-flx .both-style button{
        margin-top: 0px;
    }    

}
footer{
    background: #1c2630c0;
    width: 100%;
    height: 60vh;
}
footer .all-footer-flx{
    display: flex;
    justify-content: space-around;
}
footer .all-footer-flx .left-side .both-style{
    background: white;
    width: 320px;
    height: 5.5vh;
    padding: 4px;
    margin-left: 50px;
    border-radius: 50px;
}
footer .all-footer-flx .left-side .both-style button{
    border-radius: 5px;
    padding: 5px 10px;
    background: rgb(63, 63, 255);
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    margin-left: 30px;
}
footer .all-footer-flx .left-side .both-style input{
    outline: none;
    border: none;
    margin-left: 10px;
}
.social-icon{
    margin-left: 50px;
    display: flex;
    margin-top: 30px;
}
.social-icon .twitter a{
    padding-right: 30px;
    font-size: 30px;
    color: white;
    transition: .4s;

}
.social-icon .instagram a{
    padding-right: 30px;
    font-size: 30px; 
    color: white;
    transition: .4s;

}
.social-icon .LinkedIn a{
    font-size: 30px; 
    color: white;
    transition: .4s;
}
.social-icon .twitter a:hover, .social-icon .instagram a:hover,.social-icon .LinkedIn a:hover{
    color: #0080ffc0;
}
footer h1{
    color: white;
    padding-top: 30px;
    text-align: center;
}
footer ul a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style: none;
    text-align: center;
}
footer ul a li{
    padding-bottom: 10px;
}
footer ul{
    padding: 50px;
}
.back-to-top{
    background: rgb(255, 255, 255);
    width: 30px;
    padding-top: 5px;
    border-radius: 50px;
    padding-left: 7px;
    position: absolute;
    bottom: 40px;
    right: 50px;
    position: fixed;
    cursor: pointer;
}
